@tailwind base;
@tailwind components;
@tailwind utilities;
details {
  max-height: 4rem; /* Set a max-height value just enough to show the summary */
  overflow: hidden; /* Hide the rest of the content */
  transition: max-height 400ms ease-out; /* Animate the change */
}

details[open] {
  max-height: 800px;
  transition: max-height 400ms ease-out; /* Animate the change */
}
